<div class="row">
        <div class="span4">
          <div class="well">
            <div class="centered e_bounce">
              <i class="icon-bg-light icon-circled icon-group icon-3x active"></i>
              <h4><strong>Best</strong> team</h4>
              <p>
                Dolorem adipiscing definiebas ut nec. Dolore consectetuer eu vim, elit molestie ei has, petentium imperdiet in pri. Mel virtute efficiantur ne, zril omnes sed no, sit eu duis semper.
              </p>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <div class="centered e_bounce">
              <i class="icon-bg-light icon-circled icon-rocket icon-3x active"></i>
              <h4><strong>High</strong> dedication</h4>
              <p>
                Dolorem adipiscing definiebas ut nec. Dolore consectetuer eu vim, elit molestie ei has, petentium imperdiet in pri. Mel virtute efficiantur ne, zril omnes sed no, sit eu duis semper.
              </p>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <div class="centered e_bounce">
              <i class="icon-bg-light icon-circled icon-heart icon-3x active"></i>
              <h4><strong>Work</strong> with heart</h4>
              <p>
                Dolorem adipiscing definiebas ut nec. Dolore consectetuer eu vim, elit molestie ei has, petentium imperdiet in pri. Mel virtute efficiantur ne, zril omnes sed no, sit eu duis semper.
              </p>
            </div>
          </div>
        </div>
      </div>
