<aside>
  <div class="widget">
    <h4>Get in touch with me</h4>
    <ul>
      <!--li><label><strong>Phone : </strong></label>
        <p>
          +900 888 707 123
        </p>
      </li-->
      <li><label><strong>Email : </strong></label>
        <p>
          wenpiee@gmail.com
        </p>
      </li>
      <!--li><label><strong>Office address : </strong></label>
        <p>
          Pasar sate tusuk 22A Ave X.300 Peterongan Semarang, Indonesia
        </p>
      </li-->
    </ul>
  </div>
  <div class="widget">
    <h4>Social network</h4>
    <ul class="social-links">
      <li><a href="#" title="Bagus W.P on Facebook"><i class="icon-bg-light icon-facebook icon-circled icon-1x active"></i></a></li>
      <li><a href="#" title="Bagus W.P on Instagram"><i class="icon-bg-light icon-instagram icon-circled icon-1x active"></i></a></li>
      <li><a href="#" title="Bagus W.P on GitHub"><i class="icon-bg-light icon-github icon-circled icon-1x active"></i></a></li>
    </ul>
  </div>
</aside>
